* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  padding-top: 65px; /* empurra o conteúdo pra baixo da topbar */
  height: 100vh;
}

.TopBar {
    position: fixed;       /* fica grudada no topo */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;         /* fica na frente de tudo */

    background-color: #ffe600;
    height: 65px;
    width: 100%;
    padding: 0 20px;

    display: flex;             /* alinha título e ícone lado a lado */
    align-items: center;       /* centraliza verticalmente */
    justify-content: space-between; /* título à esquerda, ícone à direita */

    color: rgb(6, 6, 6);
    font-family: 'Times New Roman', Times, serif;
}

.TopBar img {
    height: 35px;          /* ajusta tamanho do ícone */
    cursor: pointer;
}

.conteudo {
    padding: 20px;
}

.btn-FinalizarCompra {
    display: flex;
    justify-content: center;
    margin-top: 50vh;
    position: fixed;
    bottom: 70px;
    right: 20px;
}

button{
     background-image: linear-gradient(45deg,rgb(213, 240, 10),rgb(208, 191, 6));
     font-size: 20px;
     border: #000000;
     border-radius: 10px;
     padding: 15px 20px;
     cursor: pointer;
}

@keyframes animation {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

button:hover {
   animation-name:animation ;
   animation-duration: 0.5s;
   animation-timing-function:ease-in-out ;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
